/*estilos generales*/
body{
    background: #eee;
}

/*circulo avatar*/
.navbar-collapse .avatar{
    background: white;
    border-radius: 500px;
    width: 30px;
    height: 30px;
    overflow: hidden;
    float: left;
    margin-right: 12px;
    margin-top: -5px;
}

/*foto avatar*/
.navbar-collapse .avatar img{
    height: 100%;
    width: 100%;
}

/*users.html.twig*/
.box-default,
/*registro*/
.box-form{
    background: white;
    border: 1px solid #ccc;
    padding: 20px;
    padding-top: 0;
    margin: 0 auto;
    float: none;
}

.box-form input{
    margin-bottom: 10px;
}

/*profile.html.twig*/
.user_link{
    color: black;
    font-weight: bold;
}

/*users.html.twig*/
.user-item .avatar,
.publication-item .avatar/*home.html.twig*/{
    background: #eee;
    border-radius: 500px;
    width: 75px;
    height: 75px;
    overflow: hidden;
    float: left;
}

.user-item .avatar img,
.publication-item .avatar img{
    height: 100%;
    width: 100%;
}

.user-item .user-item-content,
.publication-item .publication-item-content{
    padding: 10px;
    margin-left: 85px;
}

/*home*/
#timeline{
    margin-right: 20px;
    min-height: 750px;
    border-bottom: 20px;
}

.box-header{
    border-bottom: 1px solid #ccc;
    padding: 10px;
    padding-top: 0px;
    font-size: 25px;
}

#user-card{
    padding: 10px;
    margin-bottom: 20px;
}

#user-card .avatar{
    background: #eee;
    border-radius: 500px;
    width: 75px;
    height: 75px;
    overflow: hidden;
    float: left;
}

#user-card .avatar img{
    height: 100%;
    width: 100%;
}

#user-card .avatar img.default{
    opacity: 0.5;
}

#user-card .name-surname{
    float: left;
    font-size: 20px;
    padding: 10px;
}

#user-card .name-surname a{
    color: black;
}

#user-card .nickname{
    opacity: 0.7;
}

#user-card .following-data{
    width: 25%;
    float: left;
    text-align: center;
    border-top: 1px solid #ccc;
    padding: 5px;
    margin-top: 10px;
}

#user-card .following-data a{
    color: #444;
}

#user-card .following-data a:hover{
    color: black;
    text-decoration: none;
}

#user-card .following-data .label-stat{
    display: block;
}

#user-card .following-data .number-stat{
    display: block;
    font-size: 16px;
    font-weight: bold;
}

#new-publication input,
#new-publication textarea{
    margin-bottom: 10px;
}

.pub-name-link{
    font-weight: bold;
    color: black;
}

.pub-date{
    color: grey;
}

.pub-image{
    display: none;
    transition: all 300ms;
}

.pub-image img{
    width: 100%;
    text-align: center;
    display: block;
    margin: 0px auto;
}

.publication-item .glyphicon{
    margin-right: 7px;
    cursor: pointer;
    color: #4444 !important;
}

.like .btn-like:hover{
    color: red;
}

.like .active{
    color: red;
}

/*profile.html.twig*/
.profile-box{
    padding: 20px;
    margin: 0px auto;
    float: none;
}

.profile-box > .avatar{ /*el > , estilo solo para la primeta classe avatar, los demas se ignora*/
    background: #eee;
    border-radius: 700px;
    width: 180px;
    height: 180px;
    overflow: hidden;
    margin: 0px auto;
}

.profile-box > .avatar img{
    height: 100%;
    width: 100%;
}

.profile-box .name-surname{
    margin: 0 auto;
    text-align: center;
}

.profile-box .bio{
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
}

.profile-box #user_stats{
    margin: 0 auto;
    margin-bottom: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    width: 50%;
    text-align: center;
}

.profile-box #user_stats .following-data{
    float: left;
}

.profile-box #user_stats a{
    color: #444;
}

.profile-box #user_stats .label-stat{
    display: block;
    font-size: 18px;
    margin-right: 20px;
    margin-left: 20px;
    text-align: center;
}

.profile-box #user_stats .number-stat{
    font-weight: bold;
}

#nick_mas_grande{
    font-weight: bold;
    border-bottom: solid 2px #000000;
}