/*estilos generales*/
body{
    background: #eee;
}

/*circulo avatar*/
.navbar-collapse .avatar{
    background: white;
    border-radius: 500px;
    width: 30px;
    height: 30px;
    overflow: hidden;
    float: left;
    margin-right: 12px;
    margin-top: -5px;
}

/*foto avatar*/
.navbar-collapse .avatar img{
    height: 100%;
    width: 100%;
}

/*users.html.twig*/
.box-default,
/*registro*/
.box-form{
    background: white;
    border: 1px solid #ccc;
    padding: 20px;
    padding-top: 0;
    margin: 0 auto;
    float: none;
}

.box-form input{
    margin-bottom: 10px;
}

/*users.html.twig*/
.user-item .avatar,
.publication-item .avatar/*home.html.twig*/{
    background: #eee;
    border-radius: 500px;
    width: 75px;
    height: 75px;
    overflow: hidden;
    float: left;
}

.user-item .avatar img,
.publication-item .avatar img{
    height: 100%;
    width: 100%;
}

.user-item .user-item-content,
.publication-item .publication-item-content{
    padding: 10px;
    margin-left: 85px;
}

/*home*/
#timeline{
    margin-right: 20px;
    min-height: 750px;
    border-bottom: 20px;
}

.box-header{
    border-bottom: 1px solid #ccc;
    padding: 10px;
    padding-top: 0px;
    font-size: 25px;
}

#user-card{
    padding: 10px;
    margin-bottom: 20px;
}

#user-card .avatar{
    background: #eee;
    border-radius: 500px;
    width: 75px;
    height: 75px;
    overflow: hidden;
    float: left;
}

#user-card .avatar img{
    height: 100%;
    width: 100%;
}

#user-card .avatar img.default{
    opacity: 0.5;
}

#user-card .name-surname{
    float: left;
    font-size: 20px;
    padding: 10px;
}

#user-card .name-surname a{
    color: black;
}

#user-card .nickname{
    opacity: 0.7;
}

#new-publication input,
#new-publication textarea{
    margin-bottom: 10px;
}

.pub-name-link{
    font-weight: bold;
    color: black;
}

.pub-date{
    color: grey;
}
